h1 {
    color: gold;
    background-color: royalblue;
    font-family: fantasy, 'Times New Roman';
}

ul {
    color: royalblue;
    background-color: gold;
    font-family: fantasy, 'Times New Roman';
}