.heading {
    color: gold;
    background-color: #4169e1;
    font-family: cursive, 'Times New Roman';
    font-size: 50px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 10px solid purple;
    display: block;
    margin: 10px 200px 10px 200px;
}

.recipes {
    color: royalblue;
    background-color: gold;
    font-family: cursive, 'Times New Roman';
    font-size: 20px;
    border: 10px solid purple;
}